
<nz-layout>
  <!-- <nz-header>
    <div >
      <img class="logo" src="../../assets/mylogo.png" alt="" srcset="">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li  class="menu-item">Shop Plus</li>
      <li  class="menu-item">Electicity</li>
      <li  class="menu-item">Grocery</li>
    </ul>
  </nz-header> -->
<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
  <nz-content class="outer-content">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-layout class="inner-layout">
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu" >
          <li nz-submenu *ngFor="let item of navList; let i=index" (click)="passItem(item)" nzTitle={{item}} nzIcon="user">
            <ul nz-tabset>
              <li nz-menu-item nz-tab >{{item}}

              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
            <ul>
              <li nz-menu-item>option5</li>
              <li nz-menu-item>option6</li>
              <li nz-menu-item>option7</li>
              <li nz-menu-item>option8</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
            <ul>
              <li nz-menu-item>option9</li>
              <li nz-menu-item>option10</li>
              <li nz-menu-item>option11</li>
              <li nz-menu-item>option12</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <!-- <app-side-bar></app-side-bar> -->
      <nz-content class="inner-content">{{innerContentTitle}}
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="space-between" nzAlign="middle" nzFlex=3>
          <div nz-col class="gutter-row" [nzSpan]="6" [routerLink]="['/single-product']" *ngFor="let product of productsList">
            <div class="inner-box" routerLink="/single-product">
              <img src={{product.product_img}}>
              <div>{{product.product_title}}
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6" (click)="readMore()"><div class="inner-box"><img src={{imgUrl}}><div>Product 1</div></div></div>
          <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"><img src={{imgUrl}}><div>Product 1</div></div></div>
          <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"><img src={{imgUrl}}><div>Product 1</div></div></div>
          <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"><img src={{imgUrl}}><div>Product 1</div></div></div>

        </div>
      </nz-content>
    </nz-layout>
    <nz-footer>The Shop ©2021 Implement By Yuqi</nz-footer>
  </nz-content>
</nz-layout>
